@page "/Filme/{id:int}/{texto?}"
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model InformacoesFilmeModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.filme.Nome</title>

    <!--Favicon-->
    <link rel="icon" type="image/ico" sizes="57x45" href="~/img/logo/favicon.ico">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap" rel="stylesheet">

    <!--Awesome-->
    <link rel="stylesheet" href="~/fontawesome-5.13/css/all.css">

    <!--Styles-->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/banner.css">
    <link rel="stylesheet" href="~/css/movie-selected.css">

    <!--OWL CSS-->
    <link rel="stylesheet" href="~/owl/owl.theme.default.css">
    <link rel="stylesheet" href="~/owl/owl.carousel.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QVKZ32S45H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QVKZ32S45H');
    </script>
</head>
<body>
    <!--HEADER-->
    <header id="favorites">
        <!--Logo-->
        <div class="logo">
            <img src="~/img/logo/media.png" alt="Logo">
        </div>

        <!--WhatsApp and Messenger-->
        <div class="contacts-nav">
            <div class="whatsapp">
                <a href="https://api.whatsapp.com/send?phone=551199854XXXX" target="_blank">WhatsApp</a>
            </div>

            <div class="messenger">
                <a href="https://www.messenger.com/t/christiandevezas" target="_blank">Messenger</a>
            </div>
        </div>

        <!--Search-->
        <form class="search" method="post">
            <input type="text" id="name-movie" name="texto" autocomplete="off" value="@Model.pesquisa" placeholder="procure seu filme">
            <button input type="submit" asp-page-handler="Submit">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <!--Navigation-->
        <nav id="navigation">
            <!--Main Menu-->
            <ul class="main-menu center">
                <li><a href="/">Home</a></li>
            </ul>

            <!--SideNav-->
            <ul id="navbar" class="side-nav">
                <li><a href="/">Home</a></li>
            </ul>

            <!--Main Menu button-->
            <button class="main-menu-btn">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </button>
        </nav>
        <!--end Navigation-->
        <!--Banner-->
        <section class="banner-home">
            <div class="banner center">
                <h1 class="banner-title marg-bottom">Disney</h1>
            </div>
        </section>
        <!--end Banner-->
    </header>
    <!--end HEADER-->
    <!--MOVIE SELECTED-->
    <section class="selected-results">
        <!--Selected Content-->
        <div class="selected width-section">
            <!--Movie Header-->
            <div class="selected-movie">
                <div class="selected-movie-header">
                    @if (@Model.filme.DataLancamento.HasValue)
                    {
                        <span id="id-selected-movie">@Model.filme.Nome (@Model.filme.DataLancamento.Value.Year)</span>
                    }
                    else
                    {
                        <span id="id-selected-movie">@Model.filme.Nome</span>
                    }
                    <span><i class="fas fa-star" id="movie-stars"></i></span>
                    <span id="movie-rate">@Model.filme.VotosMedia</span>
                </div>
                @if (!string.IsNullOrEmpty(@Model.filme.Poster))
                {
                    <div class="selected-movie-image">
                        <img src="@string.Format("https://image.tmdb.org/t/p/original{0}", @Model.filme.Poster)" alt="@Model.filme.Nome">
                    </div>
                }
            </div>
            <!--end Movie Header-->
            <!--Slider-->
            <div class="star-wars-content width-section owl-carousel owl-theme">
                <article class="movies-item">
                    <div class="movies-image">
                        <img src = "~/img/disney/mickey.jpg" alt="Mickey Mouse">
    
                        <div class="movies-overlay">
                            <h3>Mickey Mouse</h3>
                        </div>
                    </div>
    
                    <div class="movies-info">
                        <h2>Mickey Mouse</h2>
                    </div>
                </article>

                <article class="movies-item">
                    <div class="movies-image">
                        <img src="~/img/disney/mogli.jpg" alt="Mogli: O Menino Lobo">
    
                        <div class="movies-overlay">
                            <h3>Mogli: O Menino Lobo</h3>
                        </div>
                    </div>
    
                    <div class="movies-info">
                        <h2>Mogli</h2>
                    </div>
                </article>

                <article class="movies-item">
                    <div class="movies-image">
                        <img src="~/img/disney/aristocats.jpg" alt="Aristogatas">
    
                        <div class="movies-overlay">
                            <h3>Aristogatas</h3>
                        </div>
                    </div>
    
                    <div class="movies-info">
                        <h2>Aristogatas</h2>
                    </div>
                </article>
        
                <article class="movies-item">
                    <div class="movies-image">
                        <img src="~/img/disney/rescuers.jpg" alt="Bernardo e Bianca">
    
                        <div class="movies-overlay">
                            <h3>Bernardo e Bianca</h3>
                        </div>
                    </div>
    
                    <div class="movies-info">
                        <h2>Bernardo e Bianca</h2>
                    </div>
                </article>
        
                <article class="movies-item">
                    <div class="movies-image">
                        <img src="~/img/disney/peter-pan.jpg" alt="Peter Pan">
    
                        <div class="movies-overlay">
                            <h3>Peter Pan</h3>
                        </div>
                    </div>
    
                    <div class="movies-info">
                        <h2>Peter Pan</h2>
                    </div>
                </article>
            </div>
            <!--end Slider-->
        </div>
        <!--end Selected Content-->
    </section>
    <!--end MOVIE SELECTED-->
    <!--MOVIE CREDITS-->
    <section class="movie-credits">
        <!--Movie Info-->
        <div class="movie-info">
            <h2 class="movie-credits-title">Créditos do Filme</h2>

            <div class="movie-info-item">
                <span class="movie-info-title">Nome: </span>
                <h3 id="movie-name" class="movie-info-description">@Model.filme.Nome</h3>
            </div>

            <div class="movie-info-item">
                <span class="movie-info-title">Nome Original: </span>
                <h3 id="movie-name" class="movie-info-description">@Model.filme.NomeOriginal</h3>
            </div>

            <div class="movie-info-item">
                <span class="movie-info-title">Resumo: </span>
                <h3 id="movie-summary" class="movie-info-description">
                    @Model.filme.Resumo
                </h3>
            </div>

            <div class="movie-info-item">
                <span class="movie-info-title">Elenco: </span>
                <h3 id="movie-cast" class="movie-info-description">
                    @foreach (var elenco in @Model.filme.Elenco)
                    {
                        if (!string.IsNullOrEmpty(elenco.Personagem))
                        {
                            @string.Format("{0} ({1}) / ", @elenco.Nome, @elenco.Personagem);
                        }
                        else
                        {
                            @string.Format("{0} / ", @elenco.Nome);
                        }
                    }

                </h3>
            </div>

            <div class="movie-info-item">
                <span class="movie-info-title">Equipe: </span>
                <h3 id="movie-cast" class="movie-info-description">
                    @foreach (var equipe in @Model.filme.Equipe)
                    {
                        @string.Format("{0} ({1}) / ", @equipe.Nome, @equipe.Cargo);
                    }
                </h3>
            </div>

            <div class="movie-info-item">
                <span class="movie-info-title">Idioma: </span>
                <h3 id="movie-language" class="movie-info-description">@Model.filme.NomeIdioma</h3>
            </div>

            <div class="movie-info-item">
                <span class="movie-info-title">Genêro(s): </span>
                <h3 id="movie-cast" class="movie-info-description">
                    @foreach (var genero in @Model.filme.Genero)
                    {
                        @string.Format("{0},", genero.Nome);
                    }
                </h3>
            </div>

            <div class="movie-info-item">
                <span class="movie-info-title">Lançamento: </span>
                @if (@Model.filme.DataLancamento.HasValue)
                {
                    <h3 id="movie-release" class="movie-info-description">@Model.filme.DataLancamento.Value.ToShortDateString()</h3>
                }
            </div>

            <div class="movie-info-item">
                <span class="movie-info-title">Média de votos: </span>
                <h3 id="movie-score" class="movie-info-description">
                    <span id="movie-score">@Model.filme.VotosMedia</span>
                    <span><i class="fas fa-star" id="movie-stars"></i></span>
                </h3>
            </div>

            <div class="movie-info-item">
                <span class="movie-info-title">Popularidade: </span>
                <h3 id="movie-popularity" class="movie-info-description">@Model.filme.Popularidade</h3>
            </div>
        </div>
        <!--end Movie Info-->
        <!--Recommended Movies-->
        <div class="recommended-movies">
            <h2 class="recommended-movies-title">Filmes Recomendados</h2>

            @foreach (var filme in @Model.filmesRecomendados)
            {
                <div class="recommended-movies-item" id="movie-recommended-@filme.Id">
                    @if (!string.IsNullOrEmpty(@filme.Poster))
                    {
                        <div class="recommended-movies-image">
                            <a href="/Filme/@filme.Id/@Model.pesquisa">
                                <img src="@string.Format("https://image.tmdb.org/t/p/w92{0}",@filme.Poster)" alt="@filme.Nome">
                            </a>
                        </div>
                    }

                    <a href="/Filme/@filme.Id/@Model.pesquisa">
                        @if (@filme.DataLancamento.HasValue)
                        {
                            <p>@filme.Nome (@filme.DataLancamento.Value.Year)</p>
                        }
                        else
                        {
                            <p>@filme.Nome</p>
                        }
                    </a>
                </div>
            }

        </div>
        <!--end Recommended Movies-->
    </section>
    <!--end MOVIE CREDITS-->
    <!--SOCIAL-->
    <section class="social">
        <div class="social-content width-section">
            <div class="social-media">
                <h2 class="social-media-title">Technologia</h2>
                <p class="social-media-para marg-bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos iusto nemo non quas pariatur iure avante more strength quae odt greatfull consectetur!</p>
                <div class="social-media-icons">
                    <a href="https://twitter.com/login?lang=pt" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://pt-br.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/?hl=pt-br" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://br.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>

                <ul class="social-media-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>

            <div class="social-media">
                <h2 class="social-media-title">Tem perguntas?</h2>
                <p class="social-media-para marg-bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos iusto nemo non quas  pariatur iure avante more strength quae odt greatfull consectetur!</p>
                <div class="social-media-contact marg-bottom">
                    <i class="fas fa-envelope"></i>
                    <p>website@gmail.com</p>
                </div>
                <div class="social-media-contact marg-bottom">
                    <i class="fas fa-phone"></i>
                    <p>11 99854-XXXX</p>
                </div>
                <div class="social-media-contact">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Jardim Paulista, São Paulo</p>
                </div>
            </div>

            <div class="social-media">
                <h2 class="social-media-title">Horários abertos</h2>
                <p class="social-media-para marg-bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos iusto nemo non quas  pariatur iure avante more strength quae odt greatfull consectetur!</p>
                <div class="social-media-schedules">
                    <div class="social-media-days">
                        <p>Semana</p>
                        <p class="marg-top">Sábado</p>
                        <p class="marg-top">Domingo</p>
                    </div>
                    <div class="social-media-hours">
                        <p>8h - 18h</p>
                        <p class="marg-top">9h - 13h</p>
                        <p class="marg-top">Fechado</p>
                    </div>
                </div>
            </div>

            <!-- Link to top -->
            <a class="link-top" href="#favorites"><i class="fas fa-arrow-up"></i></a>
        </div>
    </section>
    <!--end SOCIAL-->
    <!--FOOTER-->
    <footer>
        <p><span>&copy;</span> Filmes Favoritos <span id="date"></span></p>
    </footer>
    <!--end FOOTER-->
    <!--SCRIPTS-->
    <!--jQuery-->
    <script src="~/js/jquery-3.5.js"></script>

    <!--Main-->
    <script src="~/js/main.js"></script>

    <!--Owl-->
    <script src="~/owl/owl.carousel.min.js"></script>
    <script src="~/js/owl-selected.js"></script>
    <!--end SCRIPTS-->
</body>
</html>
